:root {
    background-color: #799ec7;
}

#homepage {
    margin-top: 10%;
}

#quizpage {
    margin-top: 10%;
    display: none;
}

#highscorepage {
    margin-top: 10%;
    display: none;
}

#currentscorepage {
    margin-top: 10%;
    display: none;
}